<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
{% load static %}
	<!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Aldaker Portfolio</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

   <!-- script
   ================================================== -->   
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'favicon1.png' %}">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>



		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<!--<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>-->
						<li><a class="smoothscroll"  href="#services" title="">Languages</a></li>
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<!--<li><a href="styles.html" title="">Style Demo</a></li>				-->
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Ahmad Aldaker.</h1>

	   			<p class="intro-position">
	   				<span>Back-end Developer</span>
	   				<span>Python</span>
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="https://www.linkedin.com/in/ahmad-aldaker-sy/"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://gitlab.com/aldaker7"><i class="fa fa-git"></i></a></li>
         <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
         <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
         <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="{% static 'images/profile-pic1.png' %}" alt="Profile Picture">

   				<p class="lead">I am young motivated Junior/Mid-level Python Developer who recently relocated in Sydney looking for new challenging opportunity.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>When I was a kid I started to learn basketball and then started to discover new sports from football to Karate. I apply same thing on my career.
				I love learning new things especially new technologies.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Ahmad Aldaker</span>
   				</li>
   				<!--<li>-->
   					<!--<strong>Birth Date:</strong>-->
   					<!--<span>April 30, 1992</span>-->
   				<!--</li>-->
   				<li>
   					<strong>Job:</strong>
   					<span>Python Developer</span>
   				</li>
   				<li>
   					<strong>Location:</strong>
   					<span>Sydney, Australia</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>ahmad.aldaker7@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<!--<p>-->
				<!--I am-->
			<!--</p>-->

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>Python</strong>
				   </li>
				 	<li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>Odoo</strong>
				   </li>
					<li>
				   	<div class="progress percent65"><span>65%</span></div>
				   	<strong>Django</strong>
				   </li>
					<li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Postgres</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>HTML</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>CSS</strong>
				   </li>

				   <li>
				   	<div class="progress percent40"><span>40%</span></div>
				   	<strong>JQuery</strong>
				   </li>
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="{% url 'download_cv' %}" title="Download CV" class="button button-primary">Download CV</a>
   		</div>

   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>
   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Python Developer</h3>
	   					<p>June 2016 - October 2018</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Rakuten Trade</h4>
						<p>Developing a first complete online equities broker system in Malaysia.<br>
							Using Python programming language (Odoo framework), POSTGRES, HTML, CSS and Jquery </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>IT Assistant (Intern)</h3>
	   					<p>April 2015 - September 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Al-Houda IT Consultant</h4>
	   					<p>
							Analysing IT Department work flow and responsibilities.
							Assist in Software upgrades.
							Documenting the problems and bugs that we had in testing phase.
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!--<div class="timeline-block">-->

	   				<!--<div class="timeline-ico">-->
	   					<!--<i class="fa fa-graduation-cap"></i>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-header">-->
	   					<!--<h3>Web Designer</h3>-->
	   					<!--<p>May 2013 - June 2014</p>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-content">-->
	   					<!--<h4>Great Designs Studio</h4>-->
	   					<!--<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>-->
	   				<!--</div>-->

	   			<!--</div> &lt;!&ndash; /timeline-block &ndash;&gt;-->

   			<!--</div> &lt;!&ndash; /timeline-wrap &ndash;&gt;   			-->

   		<!--</div> &lt;!&ndash; /col-twelve &ndash;&gt;-->
   		<!---->
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>October 2010 - January 2016</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Arab International University</h4>
						<p>Software engineering<br>
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!--<div class="timeline-block">-->

	   				<!--<div class="timeline-ico">-->
	   					<!--<i class="fa fa-briefcase"></i>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-header">-->
	   					<!--<h3>Bachelor Degree</h3>-->
	   					<!--<p>July 2014 - June 2015</p>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-content">-->
	   					<!--<h4>State Design University</h4>-->
	   					<!--<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>-->
	   				<!--</div>-->

	   			<!--</div> &lt;!&ndash; /timeline-block &ndash;&gt;-->

	   			<!--<div class="timeline-block">-->

	   				<!--<div class="timeline-ico">-->
	   					<!--<i class="fa fa-briefcase"></i>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-header">-->
	   					<!--<h3>Bachelor Degree</h3>-->
	   					<!--<p>May 2013 - June 2014</p>-->
	   				<!--</div>-->

	   				<!--<div class="timeline-content">-->
	   					<!--<h4>Design College</h4>-->
	   					<!--<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>-->
	   				<!--</div>-->

	   			<!--</div> &lt;!&ndash; /timeline-block &ndash;&gt;-->

   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->
   		
   	</div>
		</div>
	</div>
	<!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<!--<section id="portfolio">-->

		<!--<div class="row section-intro">-->
   		<!--<div class="col-twelve">-->

   			<!--<h5>Portfolio</h5>-->
   			<!--<h1>Check Out Some of My Works.</h1>-->

   			<!--<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>-->

   		<!--</div>   		-->
   	<!--</div> &lt;!&ndash; /section-intro&ndash;&gt; -->

   	<!--<div class="row portfolio-content">-->

   		<!--<div class="col-twelve">-->

   			<!--&lt;!&ndash; portfolio-wrapper &ndash;&gt;-->
	         <!--<div id="folio-wrapper" class="block-1-2 block-mob-full stack">-->

	         	<!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/liberty.jpg' %}" alt="Liberty">-->
	                  <!--<a href="#modal-01" class="overlay">	                  	           -->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
		     					       <!--<h3 class="folio-title">Liberty</h3>	     					    -->
		     					    	 <!--<span class="folio-types">-->
		     					       	  <!--Graphic Design-->
		     					       <!--</span>-->
		     					   <!--</div>	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>	               -->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;-->

	        		<!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/shutterbug.jpg' %}" alt="Shutterbug">-->
	               	<!--<a href="#modal-02" class="overlay">              		                  -->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
	                     		<!--<h3 class="folio-title">Shutterbug</h3>	     					    -->
		     					    	<!--<span class="folio-types">-->
		     					       	  <!--Web Design-->
		     					      <!--</span>		     		-->
		     					   <!--</div> 	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>-->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;-->

	            <!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/clouds.jpg' %}"alt="Clouds">-->
	                  <!--<a href="#modal-03" class="overlay">             		                  -->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
	                     		<!--<h3 class="folio-title">Clouds</h3>	     					    -->
		     					    	<!--<span class="folio-types">-->
		     					       	  <!--Web Design-->
		     					      <!--</span>		     		-->
		     					   <!--</div> 	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>-->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;-->

	            <!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/beetle.jpg' %}" alt="Beetle">-->

	                  <!--<a href="#modal-04" class="overlay">-->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
	                     		<!--<h3 class="folio-title">Beetle</h3>	     					    -->
		     					    	<!--<span class="folio-types">-->
		     					       	  <!--Branding-->
		     					      <!--</span>		     		-->
		     					   <!--</div>  	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>-->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;     -->

	        		<!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/lighthouse.jpg' %}" alt="Lighthouse">-->
	                  <!--<a href="#modal-05" class="overlay">             		                  -->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
	                     		<!--<h3 class="folio-title">Lighthouse</h3>	     					    -->
		     					    	<!--<span class="folio-types">-->
		     					       	  <!--Web Development-->
		     					      <!--</span>		     		-->
		     					   <!--</div> 	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>-->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;-->

	            <!--<div class="bgrid folio-item">-->
	               <!--<div class="item-wrap">-->
	               	<!--<img src="{% static 'images/portfolio/salad.jpg' %}" alt="Salad">-->
	                  <!--<a href="#modal-06" class="overlay">-->
	                     <!--<div class="folio-item-table">-->
	                     	<!--<div class="folio-item-cell">-->
	                     		<!--<h3 class="folio-title">Salad</h3>	     					    -->
		     					    	<!--<span class="folio-types">-->
		     					       	  <!--Branding-->
		     					      <!--</span>		     		-->
		     					   <!--</div>	                      	-->
	                     <!--</div>                    -->
	                  <!--</a>-->
	               <!--</div>-->
	        		<!--</div> &lt;!&ndash; /folio-item &ndash;&gt;   -->

	            <!--&lt;!&ndash; modal popups - begin-->
	            <!--============================================================= &ndash;&gt;-->
	            <!--<div id="modal-01" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-liberty.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Liberty</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Web Development</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-01 &ndash;&gt;-->

				   <!--<div id="modal-02" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-shutterbug.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Shutterbug</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Web Design</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-02 &ndash;&gt;-->

				   <!--<div id="modal-03" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-clouds.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Clouds</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Web Design</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-03 &ndash;&gt;-->

				   <!--<div id="modal-04" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-beetle.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Beetle</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Branding</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-04 &ndash;&gt;-->

				   <!--<div id="modal-05" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-lighthouse.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Lighthouse</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Web Development</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-05 &ndash;&gt;-->

				   <!--<div id="modal-06" class="popup-modal slider mfp-hide">	-->

				     	<!--<div class="media">-->
				     		<!--<img src="{% static 'images/portfolio/modals/m-salad.jpg' %}" alt="" />-->
				     	<!--</div>      	-->

					   <!--<div class="description-box">-->
					      <!--<h4>Salad</h4>		      -->
					      <!--<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>-->

					      <!--<div class="categories">Branding</div>			               -->
					   <!--</div>-->

			         <!--<div class="link-box">-->
			            <!--<a href="http://www.behance.net">Details</a>-->
					      <!--<a href="#" class="popup-modal-dismiss">Close</a>-->
			         <!--</div>		      -->

				   <!--</div> &lt;!&ndash; /modal-06 &ndash;&gt;-->


				   <!--&lt;!&ndash; modal popups - end-->
	            <!--============================================================= &ndash;&gt;-->

	         <!--</div> &lt;!&ndash; /portfolio-wrapper &ndash;&gt; -->

   		<!--</div>  &lt;!&ndash; /twelve &ndash;&gt;   -->

   	<!--</div> &lt;!&ndash; /portfolio-content &ndash;&gt; -->
		<!---->
	<!--</section> &lt;!&ndash; /portfolio &ndash;&gt; -->


	<!-- CTA Section
   ================================================== -->
	<!--<section id="cta" class="grey-section">-->

   	<!--<div class="row cta-content">-->

   		<!--<div class="col-twelve section-ads">  -->

	     		<!--<h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>-->

		      <!--<p class="lead">-->
		      <!--Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.-->
				<!--Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>. -->
				<!--&lt;!&ndash; Simply type	the promocode in the box labeled “Promo Code” when placing your order. &ndash;&gt;	-->
				<!--</p>-->

				<!--<div class="action">-->
			      <!--<a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>-->
		      <!--</div>		     	-->

   		<!--</div>-->

   	<!--</div> &lt;!&ndash; /cta-content &ndash;&gt;-->

   <!--</section> &lt;!&ndash; /cta &ndash;&gt; -->

	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Languages</h5>
   			<h1>Languages I can speak</h1>

   			<!--<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>-->

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><span class="fa-stack fa-lg">  <i class="fa fa-stack-3x">E</i></span></span>

	            <div class="service-content">	

	            	 <h3>English</h3>

		            <p class="desc">Very good communication skills.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon">
						<!--<i class="icon-earth"></i>-->
						<span class="fa-stack fa-lg">  <i class="fa fa-stack-3x">A</i></span>
					</span>

	            <div class="service-content">	

	            	<h3>Arabic</h3>

		            <p class="desc">My native language.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">


			   	<span class="icon"><span class="fa-stack fa-lg">  <i class="fa fa-stack-3x">F</i> </span></span>

	            <div class="service-content">

	            	<h3>French</h3>

		            <p class="desc">
	        			Beginner level.
					</p>

	            </div>

			   </div> <!-- /service -->

				<!--<div class="service">-->

					<!--<span class="icon"><i class="icon-toggles"></i></span>	              -->

	            <!--<div class="service-content">-->

	            	<!--<h3>UI/UX Design</h3>-->

		            <!--<p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
	         		<!--</p> -->
	         		<!---->
	            <!--</div>                -->

				<!--</div> &lt;!&ndash; /service &ndash;&gt;-->

			   <!--<div class="service">-->

			   	<!--<span class="icon"><i class="icon-image"></i></span>	            -->

	            <!--<div class="service-content">-->

	            	<!--<h3>Graphics Design</h3>-->

		            <!--<p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
	        			<!--</p> -->

	            <!--</div>	               -->

			   <!--</div> &lt;!&ndash; /service &ndash;&gt;-->

			   <!--<div class="service">-->

			   	<!--<span class="icon"><i class="icon-chat"></i></span>	   	           -->

	            <!--<div class="service-content">-->

	            	 <!--<h3>Consultancy</h3>-->

		            <!--<p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
	        			<!--</p> -->
	        			<!---->
	            <!--</div>	               -->

			   <!--</div> &lt;!&ndash; /service &ndash;&gt;-->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<!--<section id="stats" class="count-up">-->

		<!--<div class="row">-->
			<!--<div class="col-twelve">-->

				<!--<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-pencil-ruler"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--1500-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Projects Completed-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;					-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-users"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--900-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Happy Clients-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-badge"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--200-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Awards Received-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;									-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-light-bulb"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--120-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Crazy Ideas-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-cup"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--1500-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Coffee Cups-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;-->

					<!--<div class="bgrid stat">-->

						<!--<div class="icon-part">-->
							<!--<i class="icon-clock"></i>-->
						<!--</div>-->

						<!--<h3 class="stat-count">-->
							<!--7200-->
						<!--</h3>-->

						<!--<h5 class="stat-title">-->
							<!--Hours-->
						<!--</h5>-->

					<!--</div> &lt;!&ndash; /stat &ndash;&gt;-->

				<!--</div> &lt;!&ndash; /stats-list &ndash;&gt;-->

			<!--</div> &lt;!&ndash; /twelve &ndash;&gt;-->
		<!--</div> &lt;!&ndash; /row &ndash;&gt;-->

	<!--</section> &lt;!&ndash; /stats &ndash;&gt;-->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">If you have an opportunity for me drop me and email.</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm"  method="post" action="{%url 'send_email' %}">
				{% csrf_token %}

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <!--<div class="form-field">-->
                     <!--<input type="submit" class="submitform">Submit</input>-->
                     <!--&lt;!&ndash;<div id="submit-loader">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="text-loader">Sending...</div>                             &ndash;&gt;-->
       				      <!--&lt;!&ndash;<div class="s-loader">&ndash;&gt;-->
								  	<!--&lt;!&ndash;<div class="bounce1"></div>&ndash;&gt;-->
								  	<!--&lt;!&ndash;<div class="bounce2"></div>&ndash;&gt;-->
								  	<!--&lt;!&ndash;<div class="bounce3"></div>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</div>-->
					<input type="submit" value="Submit">

      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            Sydney, NSW<br>
            2022 Australia
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>ahmad.aldaker7@gmail.com<br>
			   	ahmodey22@hotmail.com
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p> Mobile: (+61) 451629596<br>
				Mobile: (+61) 280060720<br>
				Skype: ahmaddaker
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<!--<div class="row">-->

     		<!--<div class="col-six tab-full pull-right social">-->

     			<!--<ul class="footer-social">        -->
			      	<!--<li>-->
						<!--<a href="https://www.linkedin.com/in/ahmad-aldaker-sy/">-->
							<!--<i class="fa fa-linkedin"></i>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="https://gitlab.com/aldaker7">-->
							<!--<i class="fa fa-git"></i>-->
						<!--</a>-->
					<!--</li>-->
			   <!--</ul> -->
	      		<!---->
	      <!--</div>-->

      	<!--<div class="col-six tab-full">-->
	      	<!--<div class="copyright">-->
		        	<!--<span>© Copyright Ahmad ldaker 2018.</span>-->
		        	<!--<span>Design by Ahmad Aldaker</span>-->
		         <!--</div>		                  -->
	      	<!--</div>-->

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	<!--</div> &lt;!&ndash; /row &ndash;&gt;     	-->
   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>